{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
      "@nuxtjs/eslint-config-typescript",
      "prettier",
      "prettier/vue",
      "plugin:prettier/recommended",
      "plugin:nuxt/recommended"
  ],
  "plugins": [
      "prettier", "vuetify"
  ],
  "rules": {
    "vuetify/no-deprecated-classes": "error",
    "vuetify/no-deprecated-components": "error"
  }
}
